.container {
    width: 400px;
    height: 220px;
    margin: 100px auto;
    border: 2px solid black;
    display: relative;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
}

p {
    padding: 5px;
}

button {
    margin: 8px;
}