.sidebar {
    width: 250px;
    position: absolute;
    text-align: center;
}

.sidebar a {
    display: block;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    padding: 8px;
}

.sidebar a:hover {
    color: red;
}

.content {
    margin-left: 250px;
    padding-top: 10px;
    padding-left: 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.topic-item:hover {
    background-color: tomato;
}