html, body {
    font-family: 'Comic Neue', cursive;
    color: #BDA566;
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.logo {
    height: 120px;
    width: 220px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #BDA566;
    text-align: center;
    padding-right: 60px;
    text-decoration: none;
}

.navbar li a:hover {
    color: #f8d783;
}

.navbar-item {
    padding-top: 50px;
    font-size: x-large;
}

#newest {
    width: 100%;
    height: auto;
    padding-top: 30px;
    display: block;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #BDA566;
}

.doge-song {
    width: 750px;
    padding-top: 20px;
    height: auto;
}

.desc {
    font-size: 25px;
    display: block;
}

#covid-19 {
    width: 100%;
    height: auto;
    padding-top: 30px;
    text-align: center;
}

.doge-grid {
    width: 500px;
    height: 500px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#sport {
    width: 100%;
    height: auto;
    padding-top: 30px;
    text-align: center;
}

.float-child {
    padding-top: 10px;
    padding-bottom: 40px;
}

footer {
    text-align: center;
    background-color: #BDA566;
    color: white;
}

.footer-item {
    padding: 20px;
    text-decoration: none;
    color: white;
}