html, body {
    font-family: 'Comic Neue', cursive;
    color: #BDA566;
}

.navbar {
    margin: 0px 250px;
}

.logo {
    height: 140px;
    width: 250px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #BDA566;
    text-align: center;
    padding-right: 60px;
    text-decoration: none;
}

li a:hover {
    color: #f8d783;
}

.navbar-item {
    padding-top: 50px;
    font-size: xx-large;
}

.container {
    margin: 0px 250px;
}

.newest {
    padding-top: 50px;
    padding-left: 25px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #BDA566;
}

.doge-song {
    padding-top: 25px;
    padding-left: 25px;
    width: 1000px;
}

.song-title {
    padding-left: 50px;
    font-size: 20px;
}